<div class="m-5">
  <button (click)="addBook()">Add Book</button>
</div>

<div>
    <table border="1" class="m-5" *ngIf="books$ | async as books">
        <thead>
            <th>ID</th>
            <th>Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let book of books">
                <td>{{book.id}}</td>
                <td> {{book.name}}</td>
                <td>
                    <button (click)="updateBook(book)">Update Book</button>
                </td>
                <td>
                    <button (click)="deleteBook(book)">Delete Book</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>